@use "global/common" as common;

.footer {
  margin: 0 -30px -30px;
  padding: 60px 40px;
  background-color: common.$color-black;
  color: common.$color-white;
  text-align: center;

  @include common.mediaquery(sp) {
  }
}

.links {
  display: flex;
  justify-content: center;
  gap: 35px;
  margin-bottom: 30px;
  font-size: 1.25rem;
  font-weight: bold;
}

.sns {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 35px;
}

.copyright {
  display: inline-block;
  margin-top: 35px;
  font-size: .625rem;
}
