@use "global/common" as common;

.hamburger { 
  position: relative;
  border: none;
  width: 34px;
  height: 34px;
  
  &:after, &:before {
    content: "";
    display: block;
    width: 34px;
    height: 5px;
    background: common.$color-black;
    position: absolute;
    top: calc(50% + 2.5px);
    left: 0px;
    transition: transform 200ms
  }
  &:after {
    transform: translateY(-10px);
  }
  &:before {
    transform: translateY(0px);
  }
  
  &.open {
    &:after, &:before {
      top: 50%;
      transform: translateY(0px);
    }
    &:after {
      transform:rotate(45deg);
    }
    &:before {
      transform:rotate(-45deg);
    }
  }
}

.menu {
  position: absolute;
  z-index: 999;
  top: 60px;
  right: 0;
  padding: 30px;
  background-color: common.$color-primary;
  visibility: hidden;
  opacity: 0;
  transition: opacity 500ms ease, transform 500ms ease, visibility 0ms linear 500ms;
  transform: translateY(-30px);
  
  &.open {
    visibility: visible;
    opacity: 1;
    transition: opacity 500ms ease, transform 500ms ease, visibility 0ms;
    transform: translateY(0px);
  }
  
  > ul {
    > li {
      font-family: var(--font-anton_sc);
      font-size: 1.375rem;
    
      + li {
        margin-top: 20px;
      }
    }
  }
}
