@use "global/common" as common;

.header {
  position: relative;
  margin: 0 0 3.75rem;
  
  @include common.mediaquery(sp) {
    margin: 0 0 2.5rem;
  }
}

.wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 55px;;
}
