@use "global/common" as common;

html {
  font-size: 16px;
  background-color: common.$color-primary;
}

.body {
  max-width: 390px;
  margin: 0 auto;
  font-family: var(--font-roboto);
  color: common.$color-black;
  background-color: common.$color-white;

  @include common.mediaquery(sp) {
 }
}

.inner {
  width: 100%;
  margin: 0 auto;
  padding: 1.875rem;
  
  @include common.mediaquery(sp) {
    padding: 1.5rem 1.875rem;
  }
}
