@use "sass:map";

$breakpoint: (
  xsp: "screen and (max-width: 430px)",
  sp: "screen and (max-width: 767px)",
  pc: "screen and (min-width: 768px)",
  laptop: "screen and (min-width: 1024px)",
);

@mixin mediaquery($device) {
  @media #{map.get($breakpoint, $device)} {
    @content;
  }
}

// -------- mixin --------//
@mixin hover {
  transition: opacity 0.3s;
  
    &:hover {
    opacity: 0.6;
  }
}
